body{
  margin: 0;
  padding: 0;
   font-style: italic;
   font-weight: bold;
   font-size: 2em;
   font-color: #ff0000;
    font-family: 'Helvetica','Verdana','Monaco',sans-serif;
    font-size:12px;
    background-image:
    url("https://www.turismoasturias.es/documents/11022/544215/LagoEnol.jpg/8c6136c8-4024-488a-aa34-9ad4066dd96f?t=1409232581560");
    background-size: cover;
    background-position: right-top;

}
.contenedor{
      width: 80%;
      margin: 0 auto;
      background-color: #008080;
      border-radius: 20px;
      color: #ffffff;
}
header{
  padding: 20px 10px;
  margin: 10px 20px;
  background: url("122481134491021.jpg")no-repeat;
  height: 100px;
  background-size: 200px;
}
header h1, header h2, header h3{
  margin: 0;
  padding: 0;
  text-align: center;
  color: #808080;
}
section h2, section h2, section h2{
  color:#c0c0c0;
  font:oblique bold 120% cursive;
}
.contenedor section{
  margin: 10px;
}
section{
  float: left;
  width: 47.88%;
}
section h2{
  background: #800000;
  text-transform: uppercase;

}
# imagenes img{
  width: 20%;
  display: inline-block;
  padding: 10px 20px;
  background: #008080;
  margin: 20px;
}
# imagenes img{
  padding:5px;
  margin: 5px;
  width: 5%;
}
.clear{
  clear: both;
}
