*{
	margin: 0px
}
@media only screen and (max-width: 1024px){

}
/*aqui van los estilos para tabletas*/
@media only screen and (max-width: 768px){

}
/*aqui van los estilos para mobiles horizontal*/
@media only screen and (max-width: 480px){
	header{
		float: right;
	}
	section{
		float: right;
	}
	aside{
		float: right;
	}
	footer{
		float: right;
	}
	
}
